/* PAGINA 1 */
.fondo{
    background: rgb(148, 216, 230);
    background-image: url(https://i.pinimg.com/1200x/2d/d7/5e/2dd75eab5a09313b0c08f4cd3e875c39.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
        margin: 0;
}
.card{
    text-align: center;
    font-size: 95%;
    width: 80%;
    /* lo centra en toda la pagina */
    margin: auto;
    margin-top: 50px;
    margin-bottom: 90px;
    padding: 20px 10px;
    box-shadow: 0px 0px 45px rgb(95, 95, 228);
    background: linear-gradient(rgb(201,227, 161),rgb(124, 216, 155));
    border-radius: 0%;
     /* [display: inline-block;] */
}

.card-title{
    padding-top: 10px; 
    font-size: 22px;
    margin: 0;
    color: cadetblue;}

.card-subtitle{ 
    font-size: 13px; 
    font-weight:100; 
    letter-spacing: 2px;
    color: cadetblue
}
.card-img{
    width: 110px;
    padding-top: 25px;
    border-radius: 10%;
}
.card-content{
    font-size: 50%; 
    padding: 0px;  
    text-align: justify; 
    font-size: 100%;
    color: rgb(0, 0, 0);
    font-family: "Open Dyslexic";
}


.cap1 {
    font-family: "Open Dyslexic";
    text-align: left;
}
@font-face{font-family: "Open Dyslexic";
src: url("Fonts/OpenDyslexic3-Regular.ttf") format("truetype");
font-weight: 100px;
}

body{
    background: rgb(215, 185, 190);
}
.contenedor {
        text-align: center;
}
.img1{
    width: 200px;
}
.link1 {
    text-align: center;
    font-family: 'Open Dyslexic';
}
.link2 {
    text-align: right;
    font-family: 'Open Dyslexic';
}

/* PAGINA 2 */
.box{
    width: 100%;
    height: 150px;
    margin: 20px;
    background:url(https://i.pinimg.com/1200x/86/55/ae/8655ae92b7ea7f730508edfc7e97842d.jpg) bottom / cover #6fa;
    margin: 0px;
}
.card2{
    text-align: center;
    width: 80%;
    font-size: 95%;
    /* lo centra en toda la pagina */
    margin: auto;
    margin-top: 50px;
    margin-bottom: 90px;
    padding: 20px 10px;
    box-shadow: 0px 0px 45px rgb(95, 95, 228);
    background: linear-gradient(rgb(201,227, 161),rgb(124, 216, 155));
    border-radius: 0%;
     /* [display: inline-block;] */
}
.cap2{
    font-family:'Open Dyslexic';
        text-align: left;

}
@font-face{font-family: "Open Dyslexic";
src: url("Fonts/OpenDyslexic3-Regular.ttf") format("truetype");
font-weight: 100px;
}
.img2{
    text-align: center;
}
.imgcap2{
    width: 200px;
}
.link3 {
    text-align:end;
    font-family: 'Open Dyslexic';
}
.link4 {
    text-align: center;
    font-family: 'Open Dyslexic';
    margin-bottom: 10%;
}
/* CAPITULO 3 */
.box{
    width: 100%;
    height: 150px;
    margin: 20px;
    background:url(https://i.pinimg.com/1200x/86/55/ae/8655ae92b7ea7f730508edfc7e97842d.jpg) bottom / cover #6fa;
    margin: 0px;
}

.card3{
    text-align: center;
    font-size: 95%;
    width: 80%;
    /* lo centra en toda la pagina */
    margin: auto;
    margin-top: 50px;
    margin-bottom: 90px;
    padding: 20px 10px;
    box-shadow: 0px 0px 45px rgb(95, 95, 228);
    background: linear-gradient(rgb(201,227, 161),rgb(124, 216, 155));
    border-radius: 0%;
     /* [display: inline-block;] */
}

.opaco {
    height: 100%;
    width: 100%;
}
.cap3{
    font-family:'Open Dyslexic';
        text-align: left;

}
.link5{
    text-align:end;
    font-family: 'Open Dyslexic';
}
.link6{
    text-align: center;
    font-family: 'Open Dyslexic';
    margin-bottom: 10%;
}
.imagencap3{
    text-align: center;
}

/* Capitulo 4 */
